.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ทำให้ container ครอบคลุมทั้งหน้าจอ */
    text-align: center;
    background-color: #f9f9f9;
}

.blinkingText {
    color: #FF6347; /* สีของข้อความกระพริบ */
    font-size: 48px; /* ขนาดของข้อความ */
    font-weight: bold;
    animation: blink-animation 1s steps(2, start) infinite; /* เพิ่มการกระพริบ */
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.subTitle {
    color: #555; /* สีของข้อความรอง */
    font-size: 24px;
    margin-top: 10px;
}
